        foo $foo() bar
        foo $foo("""text""") bar
        foo $foo("text") bar
        foo $foo('text') bar
        foo $foo('') bar
        foo $foo(dotted.name) bar
        foo $foo($cheetahvar) bar
        foo $foo($cheetah.var) bar
        foo $foo(x.upper() for x in mylist) bar
