
before biggun
#[[[def]]] [biggun]()
    before foo1
    #[[[def]]] [foo1]()
        foo1!
    #end [[[def]]]
    between
    #[[[def]]] [foo2]()
        foo2!
    #end [[[def]]]
    after foo2
#end [[[def]]]
after biggun

