

#[[[def]]] [foo1]()
    foo1!
#end [[[def]]]

## The specifier on the #end def is optional
#[[[def]]] [foo2]()
    foo2!
#end [[[def]]]

## You're also allowed to put extra crap on the #end
#[[[def]]] [foo1]()
    foo1!
#end [[[def]]]

